In [1]:
import pandas as pd

In [2]:
# persiapan DF
df_1 = pd.DataFrame({
    'cols1' : [1, 2, 3],
    'cols2' : [10, 20, 30]
})
df_1

   cols1  cols2
0      1     10
1      2     20
2      3     30

In [3]:
df_2 = pd.DataFrame({
    'cols3' : [4, 5, 6],
    'cols4' : [40, 50, 60]
})
df_2

   cols3  cols4
0      4     40
1      5     50
2      6     60

In [6]:
# proses merge
df = pd.merge(df_1, df_2, left_index=True, right_index=True)
df

   cols1  cols2  cols3  cols4
0      1     10      4     40
1      2     20      5     50
2      3     30      6     60