In [1]:
import pandas as pd 
import numpy as np

In [4]:
# membentuk DF dari dict
data = pd.DataFrame({'col1':[1, 2, 3, 4], 
                     'col2':[5, 6, 7, 8]})
data

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [6]:
# membuat DF dari numpy array
n_cols = 5
n_rows = 10

data = pd.DataFrame(np.random.randint(1,9,size=(n_rows, n_cols)), columns=tuple('ABCDE'))
data

   A  B  C  D  E
0  2  1  3  8  7
1  8  2  6  7  8
2  2  7  2  4  6
3  3  3  4  1  1
4  5  1  4  1  8
5  1  7  7  7  3
6  5  5  5  4  5
7  5  1  2  7  3
8  2  5  3  5  7
9  4  3  8  3  2

In [7]:
# membentuk DF dengan pandas.util.testing
pd.util.testing.makeDataFrame().head()

AttributeError: module 'pandas.util' has no attribute 'testing'