In [11]:
import pandas as pd 
import numpy as np

In [12]:
# persiapan DF
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

   omset  operasional
0      5            4
1     12           17
2     18           19
3      5            6
4      7           13

In [13]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] * 10_000
df

     omset  operasional
0   500000        40000
1  1200000       170000
2  1800000       190000
3   500000        60000
4   700000       130000

In [14]:
# melakukan formatting pada DF
laporan = df.style.format({
    'omset' : 'Rp {:.2f}',
    'operasional' : 'Rp {:.2f}'
})
laporan.set_caption('Data Omset dan Operasional')

In [15]:
type(laporan)

pandas.io.formats.style.Styler

In [16]:
laporan.hide()

In [17]:
laporan.highlight_min('omset', color='pink')
laporan.highlight_max('omset', color='lightgreen')

laporan.highlight_min('operasional', color='lightblue')
laporan.highlight_max('operasional', color='grey')