In [12]:
import pandas as pd

In [13]:
# persiapan DF
data = {
    'day' : [1, 2, 3, 4],
    'month' : [3, 7, 9, 10],
    'year' : [2000, 2020, 2010, 2015]
}

df = pd.DataFrame(data)
df

   day  month  year
0    1      3  2000
1    2      7  2020
2    3      9  2010
3    4     10  2015

In [14]:
# menambah kolom penanggalan
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1      3  2000  2000-03-01
1    2      7  2020  2020-07-02
2    3      9  2010  2010-09-03
3    4     10  2015  2015-10-04

In [15]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object