In [1]:
import pandas as pd
import numpy as np

In [2]:
# persiapan DF
data = {
    'A' : [2, 4, 6, np.nan, 8],
    'B' : [2, 4, 6, np.nan, 8]
}
df = pd.DataFrame(data)
df

     A    B
0  2.0  2.0
1  4.0  4.0
2  6.0  6.0
3  NaN  NaN
4  8.0  8.0

In [3]:
# mengenal pandas series
df['A']

0    2.0
1    4.0
2    6.0
3    NaN
4    8.0
Name: A, dtype: float64

In [4]:
type(df['A'])

pandas.core.series.Series

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
# memeriksa kesamaan antar series dengan operator ==
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [8]:
# memeriksa kesamaan antar series dengan method equals()
df['A'].equals(df['B'])

True

In [11]:
# memeriksa kesamaan antar DF
df1 = df.copy(deep=True)
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

In [12]:

df.equals(df1)

True