In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'kolom_1' : [1,2,3,4,5],
    'kolom_2' : [10,20,30,40,50]
})
df

   kolom_1  kolom_2
0        1       10
1        2       20
2        3       30
3        4       40
4        5       50

In [7]:
# seleksi baris dengan query()
df.query('kolom_1 > 2')

   kolom_1  kolom_2
2        3       30
3        4       40
4        5       50