In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\administrator\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\administrator\anaconda3\lib\site-packages (1.26.4)

In [3]:
# import modules
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

In [4]:
# persiapan data frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  9  1  4  9  1
1  6  3  9  8  6
2  7  3  3  3  8
3  3  3  9  1  4
4  7  7  8  2  4

In [5]:
# menyertakan prefix kolom
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        1        4        9        1
1        6        3        9        8        6
2        7        3        3        3        8
3        3        3        9        1        4
4        7        7        8        2        4

In [6]:
# menyertakan suffix kolom
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        1        4        9        1
1        6        3        9        8        6
2        7        3        3        3        8
3        3        3        9        1        4
4        7        7        8        2        4

In [7]:
# menyertakan prefix dan suffix kolom
df.add_prefix('kolom_').add_suffix('_field')

   kolom_A_field  kolom_B_field  kolom_C_field  kolom_D_field  kolom_E_field
0              9              1              4              9              1
1              6              3              9              8              6
2              7              3              3              3              8
3              3              3              9              1              4
4              7              7              8              2              4