In [28]:
import pandas as pd
import numpy as np

In [29]:
# persiapan DF
data = {
    'A':[15, 10, 5, np.nan, 7, 8, 11, np.nan, 88, np.nan, 99],
    'B':[np.nan, 4, 55, 32, 55, 6, 88, 99, 30, 44, 11]
}
df = pd.DataFrame(data)
df

       A     B
0   15.0   NaN
1   10.0   4.0
2    5.0  55.0
3    NaN  32.0
4    7.0  55.0
5    8.0   6.0
6   11.0  88.0
7    NaN  99.0
8   88.0  30.0
9    NaN  44.0
10  99.0  11.0

In [30]:
# membuat copy dari DF
df_backup = df.copy(deep=True)

In [31]:
# menghapus kolom yang mengandung missing value
df = df.dropna(axis='columns')
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# menghapus baris yang mengandung missing value
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df

       A     B
1   10.0   4.0
2    5.0  55.0
4    7.0  55.0
5    8.0   6.0
6   11.0  88.0
8   88.0  30.0
10  99.0  11.0

In [33]:
# persentase missing values untuk tiap kolom
df = df_backup.copy(deep=True)
df.isna().mean()

A    0.272727
B    0.090909
dtype: float64

In [34]:
# menghapus setiap kolom yang mengandung missing values berdasarkan threshold
df = df.dropna(thresh=len(df) * 0.9, axis='columns')
df

       B
0    NaN
1    4.0
2   55.0
3   32.0
4   55.0
5    6.0
6   88.0
7   99.0
8   30.0
9   44.0
10  11.0