In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\python312\lib\site-packages (1.26.4)

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [5]:
# Persiapan Data Frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  8  4  7  8  3
1  7  2  9  6  1
2  9  3  5  2  7
3  3  7  9  4  5
4  5  4  8  4  7

In [6]:
# Menyertakan Prefix Kolom
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        8        4        7        8        3
1        7        2        9        6        1
2        9        3        5        2        7
3        3        7        9        4        5
4        5        4        8        4        7

In [ ]:
# Menyertakan Suffix Kolom
df.add_suffix('_field')